@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>
        //## 按下上傳按鈕觸發
        $('#btnUploadFile').on('click', function () {
            //## 透過ajax方式Post 至Action
            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFile", "Async")",
                contentType: false,         // 告诉jQuery不要去這置Content-Type
                processData: false,         // 告诉jQuery不要去處理發送的數據
                dataType: "json",
                success: function (data) {
                    var thisdata = JSON.parse(data);//轉json陣列
                    console.log(thisdata); // [Object, Object]
                    console.log(type(data));
                    alert(data);

                    //$('content111').html(thisdata[0].price);
                }
            })
            //alert(data);
            //    .done(function (data, textStatus) {
            //        //## data 接收回傳的Json，透過each組合結果
            //        var htmlresult = "<ul>";
                    
            //        $.each(data.result, function (i, item) {
            //            htmlresult += "<li>" + item.ID + ":" + item.Name + "</li>";
            //        });

            //        htmlresult += "</ul>";
            //        //## 將結果append到預留的DIV中
            //        $("#DivResult").append(htmlresult);
            //    })
            //    .fail(function() {
            //        alert( "error" );
            //    });
        });
        @*$.ajax(
            {
                url: "@Url.Action("UploadFile")",
                contentType: false,         // 告诉jQuery不要去這置Content-Type
                processData: false,         // 告诉jQuery不要去處理發送的數據
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    //var thisdata = JSON.parse(data);//轉json陣列
                    //console.log(thisdata); // [Object, Object]
                    //console.log(type(data));
                    alert(data);

                    //$('content111').html(thisdata[0].price);

                }
            });*@

</script>

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/contents/css")

<div>
    <input id="fileUpload" type="file" />
    <input id="btnUploadFile" type="button" value="UploadFile" />
</div> 
<div id="DivResult"></div>