
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>檢驗系統測試環境主頁面</h2>*@
<div class="col-md-12" style="padding: 0px;">
    <div class="card card-dark">
        <div class="card-header" style="border-top-left-radius:0; border-top-right-radius:0;background-color:rgba(52,58,64,0.9) !important;">
            @*<div class="card-title card-title-vertical">

                </div>*@
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                                <p>本月 / 全部</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <div class="small-box-footer">
                                <a href="#">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                                @*<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>*@
                                <a href="#" data-card-widget="collapse"><i class="fas fa-arrow-circle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-tools">
                @*<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>*@
            </div>
        </div>
        <div class="card-body card-body-text" style="background-color:#343a40 !important;opacity: .5;">
            <div class="col-md-12">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                        <p>本月 / 全部</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-plane-departure"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3><label id="lbRFOutCM">@ViewBag.RFOutCM</label>/<label id="lbRFInCM">@ViewBag.RFInCM</label> 人</h3>
                        <p>本月 / 全部</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-plane-departure"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section footermessage {
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2025 <a href="http://www.zeromed.com.tw/">. 凌醫科技顧問股份有限公司</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 2.0.0-alpha
    </div>
}