
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/main")*@
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/contents/css")

    @*<link href="~/Content/Tabs.css" rel="stylesheet" />*@
    <script src="~/Scripts/ZMLisSys.js"></script>

    <style>
        .card-body {
            padding: 0 !important;
        }
    </style>

    <style>
        .k-datepicker {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-numerictextbox {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-textbox {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-dropdown {
            border: 1px solid #555 !important;
        }

        /* Grid 按鈕顏色 */
        .k-grid .k-button {
            background-color: #f0ac4e !important;
            color: white !important;
        }

        #wrapper {
            width: 100%;
            /*border: 1px solid black;*/
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header padding-header">
                        <h4 class="card-title">檢驗所標題</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        @Html.Partial("_LisLab")
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-primary">
                    <div class="card-header padding-header">
                        <h4 class="card-title">結構維護</h4>
                    </div>
                    <div class="card-body">
                        @Html.Partial("_LisSchema")

                    </div>
                </div>
            </div>
        </div>

       
        <div id="modalWindow">
            <h4>確定要刪除資料嗎 ?</h4>
            <div style="text-align:right;">
                <button id="yes" class="k-button">要刪除</button>
                <button id="no" class="k-button">取消</button>
            </div>
        </div>

        <div id="ConfirmFormWindow">
            <h4>資料已經儲存完畢 !</h4>
            <div style="text-align:right;">
                <button id="no" class="k-button" onclick="$('#ConfirmFormWindow').data('kendoWindow').close();">確定</button>
            </div>
        </div>

        <div id="modalImportSchema" style="width:100%;">
            @Html.Partial("_LisLabData")
        </div>
    </div>
</body>
</html>
